<% @sub_menu = :list %>
<article>
	<%= form_for @search, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :item_code_like %></dt>
				<dd>
				<%= f.text_field :item_code_like, :class => "small required", :tabindex => 1 %>
				<%= f.submit 'Search', :class => 'button' %>
				</dd>
			</dl>

		</fieldset>
	<% end %>
</article>

<article>
	<h1>Inventory List</h1>
	<table id="table2" class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :item_code_and_location_code, 'Item Number' %></th>
				<th><%= sort_link @search, :location_code_and_item_code, 'Location' %></th>
				<th>Quantity</th>
				<th>Cost</th>
				<th>Value</th>
				<th>New</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.item.code %></td>
				<td><%= inventory.location.code %></td>
				<td><%= inventory.quantity %></td>
				<td><%= inventory.item.cost %></td>
				<td><%= (inventory.quantity || 0) * inventory.item.cost %></td>
				<td><%= !inventory.from_al %></td>
				<td>
					<% if inventory.tags.count > 0 %>
					<a href="#" class="detail-link">Tags (<%= inventory.tags.count %>)</a>
					<% end %>
					<%= link_to 'Create Tag', new_inventory_tag_path(inventory) %>
				</td>
			</tr>
			<tr class="detail">
				<td colspan="7">
					<table>
						<thead>
							<tr>
								<th>Tag Number</th>
								<th>Item</th>
								<th>Location</th>
								<th>Created at</th>
								<th>Print</th>
							</tr>
						</thead>
						<tbody>
							<% inventory.tags.each do |tag| %>
							<tr>
								<td><%= tag.id %></td>
								<td><%= tag.inventory.item.try(:code) %></td>
								<td><%= tag.inventory.location.try(:code) %></td>
								<td><%= tag.created_at.to_date %></td>
								<td><%= link_to image_tag('icons/printer.png'), tags_path(:search => {:id_eq => tag.id}, :format => :pdf), :title => 'Print' %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @inventories %>
	</div>
</article>
