<% @sub_menu = "missing_#{@c_s}".to_sym %>
<article>
	<%= form_for @search, :url => missing_tag_adm_counts_path, :html => {:class => 'uniform'} do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :check => curr_check} %>
				<%= hidden_field_tag :count, @c_i %>
			</dl>
		</fieldset>
		<div class='buttons'>
			<%= f.submit 'Search', :class => 'button' %>
		</div>

	<% end %>
</article>

<article>
	<h1><%= @search.count %> Missing Tickets</h1>
	
	<%= link_to 'Print Result', url_for(request.params.merge(:format => :pdf)), :class => 'button' %>
	<%= link_to 'Export to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Tag Number' %></th>
				<th><%= sort_link @search, :inventory_item_code, 'Item Number' %></th>
				<th><%= sort_link @search, :inventory_location_code, 'Location' %></th>
				<th><%= sort_link @search, :sloc, 'Shelf Loc' %></th>
				<th><%= sort_link @search, @c_s, "Count #{@c_i}" %></th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.try(:sloc) %></td>
				<td><%= tag.send(@c_s) %></td>
				<td>
					<%= link_to image_tag('icons/printer.png'), adm_tags_path(:search => {:id_eq => tag.id}, :format => :pdf) %>
					<%= link_to image_tag('icons/cross.png'), adm_tag_path(tag), :method => :delete, :confirm => "Are you sure to delete Tag #{tag.id}?", :title => 'Delete' %>
				</td>
			</tr>
			<% end %>
			
		</tbody>
	</table>
	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>