<% @sub_menu = :remote %>
<article>
	<h1>Remote warehouse input</h1>

	<%= form_for @inventory, :url => adm_inventory_path(@inventory) do |f| %>
	<fieldset>
		<dl class='inline'>
			<dt><%= f.label :item_code %></dt>
			<dd><%= f.label :item_code, @inventory.item.code %></dd>

			<dt><%= f.label :item_description %></dt>
			<dd><%= f.label :item_description, @inventory.item.description %></dd>
			
			<dt><%= f.label :inputed_qty %></dt>
			<dd>
			<%= f.text_field :inputed_qty, :class => 'small', :tabindex => 1 %>
			<%= f.submit "Input", :class => 'button' %>
			</dd>
		</dl>
	</fieldset>
	<% end %>
</article>