<%= form_for @tag, :url => @tag.new_record? ? adm_tags_path : adm_tag_path(@tag), :html => {:class => 'uniform'} do |f| %>
	<%= render :partial => "shared/errors", :locals => {:object => @tag} %>

	<fieldset>
		<legend>Choose Location</legend>
		<dl class="inline">
			<dt><%= f.label :item_id, 'Item Number' %></dt>
			<dd>
				<%= f.label :item_id, @item.code %>
				<%= f.hidden_field :item_id %>
			</dd>
			<dt><%= f.label :item_description %></dt>
			<dd>
				<%= f.label :item_description, @item.description %>
			</dd>
			<dt><%= f.label :location_id, 'Onsite Location' %></dt>
			<dd>
				<%= f.collection_select(:location_id, curr_check.locations.tagable, :id, :code, {:include_blank => false}, {:class => "small", :tabindex => 1})  %>
				<%= link_to "New Onsite location", new_adm_location_path %>
			</dd>
			<dt><%= f.label :sloc, 'Shelf Location' %></dt>
			<dd><%= f.text_field :sloc, :tabindex => 2, :class => 'small' %></dd>
		</dl>
	</fieldset>
	<div class="buttons">
		<%= f.submit :class => 'button' %>
	</div>

<% end %>
