<% @sub_menu = :tags %>

<article>
	<%= render :partial => 'shared/flash' %>
	<%= form_for @search, :url => adm_tags_path do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :check => curr_check} %>
			</dl>
			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
				<%= link_to 'Reset', adm_tags_path, :class => 'button' %>
			</div>
		</fieldset>
	<% end %>
</article>

<article>
	<h1><%= @search.count %> Tickets</h1>
	<%= loading_link 'Print tickets (PDF)', url_for(request.params.merge(:format => :pdf)), :class => 'button' %>

	<table class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Ticket #' %></th>
				<th><%= sort_link @search, :inventory_item_code, 'Item #' %></th>
				<th><%= sort_link @search, :inventory_location_code, 'Warehouse' %></th>
				<th><%= sort_link @search, :inventory_item_cost, 'Cost' %></th>
				<th><%= sort_link @search, :sloc, 'Shelf Loc' %></th>
				<th><%= sort_link @search, :printed_time, 'Printed' %></th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<% @tags.each do |tag| %>
			<% next unless tag.inventory %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.item.try(:code) %> <a href="#" class="detail-link">more</a></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td class='number'><%=number_to_currency (tag.inventory.item.try(:cost) || 0) %></td>
				<td><%= tag.sloc %></td>
				<td><%= tag.printed_time.to_i > 0 ? "√ (#{tag.printed_time.to_i})" : "X" %> </td>
				<td>
					<% if allow_data_entry? %>

					<ul class="actions">
						<li>
							<%= link_to image_tag('icons/cross.png'), adm_tag_path(tag), :method => :delete, :confirm => "Are you sure to delete Ticket #{tag.id}?", :title => 'Delete' %>
						</li>
						<li>
							<%= link_to image_tag('icons/edit.png'), edit_adm_tag_path(tag), :title => 'Edit' %>
						</li>
						<li>
							<%= link_to image_tag('icons/printer.png'), adm_wait_print_path(tag), :method => :put, :confirm => "Are you sure to add Ticket #{tag.id} to print list?", :title => 'Add to print list.' unless tag.wait_for_print %>
						</li>
					</ul>

					<% end %>
				</td>
			</tr>
			<tr class="detail">
				<td colspan="7">
					<table>
						<tbody>
							<tr>
								<td><%= tag.inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>