<% if has_curr_check? %>
<table class="infos">
	<tbody>
		<tr>
			<th>Inventory name</th>
			<td><%= curr_check.description %></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><%= curr_check.state %></td>
		</tr>
		
		<tr>
			<th>Launched by</th>
			<td><%= curr_check.admin.try(:username) %></td>
		</tr>
		<tr>
			<th>Started at</th>
			<td><%= curr_check.created_at %></td>
		</tr>
	</tbody>
</table>

<h2>Tags</h2>
<table class="infos">
	<thead>
		<tr>
			<th></th>
			<th>Issued</th>
			<th>Deleted</th>
			<th>Counted</th>
			<th>Outstanding</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Count 1</th>
			<td><%= Tag.in_check(curr_check.id).count %></td>
			<td><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td><%= Tag.in_check(curr_check.id).finish(1).count %></td>
			<td><%= Tag.in_check(curr_check.id).countable.not_finish(1).count %></td>
		</tr>
		<tr>
			<th>Count 2</th>
			<td><%= Tag.in_check(curr_check.id).count %></td>
			<td><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td><%= Tag.in_check(curr_check.id).finish(2).count %></td>
			<td><%= Tag.in_check(curr_check.id).countable.not_finish(2).count %></td>
		</tr>
		<tr>
			<th>Count 3</th>
			<td><%= Tag.in_check(curr_check.id).count %></td>
			<td><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td><%= Tag.in_check(curr_check.id).countable.finish(3).count %></td>
			<td></td>
		</tr>
		<tr>
			<th>Audit check</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<% end %>