<% if has_curr_check? %>
<table class="infos">
	<tbody>
		<tr>
			<th>Inventory name</th>
			<td><%= curr_check.description %></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><%= curr_check.state %></td>
		</tr>
		
		<tr>
			<th>Launched by</th>
			<td><%= curr_check.admin.try(:username) %></td>
		</tr>
		<tr>
			<th>Start time</th>
			<td><%=l curr_check.start_time, :format => :long unless curr_check.start_time.nil? %></td>
		</tr>
		<tr>
			<th>Duration</th>
			<td><%= distance_of_time_in_words(curr_check.duration) %></td>
		</tr>
	</tbody>
</table>

<h2>Tickets</h2>
<table class="infos">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Issued</th>
			<th>Deleted</th>
			<th>Finished</th>
			<th>Outstanding</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Count 1</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).finish(1).count %></td>
			<td class="number">
			<strong>
			<%= Tag.in_check(curr_check.id).countable.not_finish(1).count %>
			</strong>
			</td>
		</tr>
		<tr>
			<th>Count 2</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).finish(2).count %></td>
			<td class="number">
			<strong>
			<%= Tag.in_check(curr_check.id).countable.not_finish(2).count %>
			</strong>
			</td>
		</tr>
		<tr>
			<th>Count 3</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).countable.finish(3).count %></td>
			<td class="number">0</td>
		</tr>
		<tr>
			<th>Remote Warehouse</th>
			<td class="number"><%= all_wh = Inventory.in_check(curr_check.id).remote_s.count %></td>
			<td class="number">0</td>
			<td class="number"><%= fi_wh = Inventory.in_check(curr_check.id).remote_s.where(:inputed_qty.not_eq => nil).count %></td>
			<td class="number">
			<strong>
			<%= all_wh - fi_wh %>
			</strong>
			</td>
		</tr>


		<tr>
			<th>Audit check</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		
		<tr>
			<th>Missing cost</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="number"><strong><%= curr_check.items.missing_cost.count %></strong></td>
		</tr>
		
	</tbody>
</table>

<% end %>