<% if has_curr_check? %>
<table class="infos">
	<tbody>
		<tr>
			<th>Inventory name</th>
			<td><%= curr_check.description %></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><%= curr_check.state %></td>
		</tr>
		
		<tr>
			<th>Launched by</th>
			<td><%= curr_check.admin.try(:username) %></td>
		</tr>
		<tr>
			<th>Started at</th>
			<td><%= curr_check.created_at %></td>
		</tr>
		<% if curr_check.state == 'open' %>
		<tr>
			<th>Duration</th>
			<td><%= distance_of_time_in_words(Time.now - curr_check.created_at) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Tags</h2>
<table class="infos">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Issued</th>
			<th>Deleted</th>
			<th>Counted</th>
			<th>Outstanding</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Count 1</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).finish(1).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).countable.not_finish(1).count %></td>
		</tr>
		<tr>
			<th>Count 2</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).finish(2).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).countable.not_finish(2).count %></td>
		</tr>
		<tr>
			<th>Count 3</th>
			<td class="number"><%= Tag.in_check(curr_check.id).count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).deleted_s.count %></td>
			<td class="number"><%= Tag.in_check(curr_check.id).countable.finish(3).count %></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Audit check</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<% end %>