<ul>
	<li><%= link_to 'Varience Count 1 VS 2', count_varience_reports_path %></li>
	<li><%= link_to 'Count Result', final_result_reports_path %></li>
	<li><%= link_to 'Count 1 with Frozen QTY', count_frozen_reports_path(:count => 1) %></li>
	<li><%= link_to 'Count 2 with Frozen QTY', count_frozen_reports_path(:count => 2) %></li>
	<li><%= link_to 'Final Valuation with Frozen QTY', final_frozen_reports_path %></li>
</ul>