<ul>
	<% if has_curr_check? %>
	<li <%= "class='current'" if @sub_menu == :current %>><%= link_to 'Start / Reimport / Complete / Cancel', current_checks_path %></li>
	<% end %>
	<% if has_curr_check? %>
	<li <%= "class='current'" if @sub_menu == :location %>><%= link_to 'Setup Warehouses', locations_path %></li>
	<li <%= "class='current'" if @sub_menu == :generate %>><%= link_to 'Generate initial Tags', to_generate_checks_path %></li>
	<li <%= "class='current'" if @sub_menu == :color %>><%= link_to 'Colors', color_checks_path %></li>
	<% end %>
	<li <%= "class='current'" if @sub_menu == :account %>><%= link_to 'Accounts', accounts_path %></li>
	<li <%= "class='current'" if @sub_menu == :history %>><%= link_to 'History', history_checks_path %></li>
</ul>
