<ul>
	<% if has_curr_check? %>
	<li <%= "class='current'" if @sub_menu == :basic %>><%= link_to 'Basic Setup', edit_god_check_path(curr_check) %></li>
	<li <%= "class='current'" if @sub_menu == :location %>><%= link_to 'Remote Warehouse Setup', locations_path %></li>
	<li <%= "class='current'" if @sub_menu == :account %>><%= link_to 'Access Level Setup', accounts_path %></li>
	<% end %>
</ul>
