<article>
	<h1>Final Summary by value</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Net adjustment Value</th>
			<td class="number"><%=number_to_currency @check.ao_adj_value %></td>
		</tr>
		<tr>
			<th>Sum of up and down</th>
			<td class="number"><%=number_to_currency @check.ao_adj_abs_value %></td>
		</tr>
		<tr>
			<th>Total Frozen Value</th>
			<td class="number"><%=number_to_currency @check.frozen_value %></td>
		</tr>
		<tr>
			<th>Total SCS Value (Remote & Onsite)</th>
			<td class="number"><%=number_to_currency @check.final_value %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>

	<%= form_for @search, :url => god_check_inventories_path(@check), :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :item_code_like, 'Part #' %></dt>
				<dd><%= f.text_field :item_code_like, :class => "small", :tabindex => 1 %></dd>
				<dt><%= f.label :location_id_eq, 'Warehouse' %></dt>
				<dd>
					<%= f.collection_select(:location_id_eq, @check.locations.order("code ASC"), :id, :code, {:include_blank => true}, {:class => "small", :tabindex => 2})  %>
				</dd>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>

	<table id="table1" class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :location_id_and_item_id, 'Warehouse' %></th>
				<th><%= sort_link @search, :item_id_and_location_id, 'Part #' %></th>
				<th><%= sort_link @search, :item_cost, 'Cost' %></th>
				<th><%= sort_link @search, :counted_1_qty, 'Count 1 QTY' %></th>
				<th><%= sort_link @search, :counted_2_qty, 'Count 2 QTY' %></th>
				<th><%= sort_link @search, :inputed_qty, 'RemoteWS QTY' %></th>
				<th><%= sort_link @search, :quantity, 'Frozen QTY' %></th>
				<th><%= sort_link @search, :frozen_value, 'Frozen Val.' %></th>
				<th><%= sort_link @search, :result_qty, 'Final SCS QTY' %></th>
				<th><%= sort_link @search, :result_value, 'Final SCS Val.' %></th>
				<th><%= sort_link @search, :ao_adj, 'Adjustment to QTY frozen' %></th>
				<th><%= sort_link @search, :ao_adj_value, 'Adjustment Value' %></th>
			</tr>
		</thead>

		<tbody>
			<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.location.try(:code) %></td>
				<td><a href="#" class="detail-link"><%= inventory.item.try(:code) %></a></td>
				<td><%= inventory.item.try(:cost) %></td>
				<td class='number'><%= inventory.counted_1_qty %></td>
				<td class='number'><%= inventory.counted_2_qty %></td>
				<td class='number'><%= inventory.inputed_qty %></td>
				<td class='number'><%= inventory.quantity %></td>
				<td class='number'><%=number_to_currency inventory.frozen_value %></td>
				<td class='number'><%= inventory.result_qty %></td>
				<td class='number'><%=number_to_currency inventory.result_value %></td>
				<td class='number'><%= inventory.ao_adj %></td>
				<td class='number'><%=number_to_currency inventory.ao_adj_value %></td>
			</tr>
			<tr class="detail">
				<td colspan="11">
					<table>
						<tbody>
							<tr>
								<td><%= inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @inventories %>
	</div>
</article>
