<%= form_for @tag, :url => inventory_tags_path(@inventory), :html => {:class => 'uniform'} do |f| %>
	<% if @tag.errors.any? %>
		<div class="error msg">
			<h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
			<ul>
			<% @tag.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>	
	<% end %>

	<fieldset>
		<legend>Change location</legend>
		<dl class="inline">
			<dt><%= f.label :item_code %></dt>
			<dd>
				<%= f.label :item_code, @tag.inventory.item.code %>
			</dd>
			<dt><%= f.label :item_description %></dt>
			<dd>
				<%= f.label :item_description, @tag.inventory.item.description %>
			</dd>
			<dt><label for="select1">Location</label></dt>
			<dd>
				<%= f.collection_select(:location_id, curr_check.locations, :id, :code, :include_blank => false)  %>
			</dd>
		</dl>
	</fieldset>
	<div class="buttons">
		<%= f.submit :class => 'button' %>
	</div>

<% end %>
