<% if defined?(show_header) && show_header %>
<tr>
	<th>Tag #</th>
	<th>Shelf Loc.</th>
	<th class='number'>Count 1</th>
	<th class='number'>Count 2</th>
	<th class='number'>Count 3</th>
	<th class='number'>Final Adj.</th>
	<th class='number'>Audit</th>
	<th class='number'>Final Qty</th>
</tr>
<% end %>
<tr>
	<td><%= tag.id %></td>
	<td><%= tag.sloc %></td>
	<td class='number'><%= tag.count_1 %></td>
	<td class='number'><%= tag.count_2 %></td>
	<td class='number'><%= tag.count_3 %></td>
	<td class='number'><%= tag.adjustment %></td>
	<td class='number'><%= tag.audit %></td>
	<td class='number'><%= tag.final_count %></td>
</tr>