<% @sub_menu = :list %>

<article>
	<%= form_for @search do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<dt><%= f.label :part_code_contains %></dt>
				<dd><%= f.text_field :part_code_contains %></dd>

				<dt><%= f.label :location_id_eq %></dt>
				<dd>
					<%= f.collection_select(:location_id_eq, Location.all, :id, :code, :include_blank => true) %>
					<button type="submit" class="button small">Search</button>
					<button type="submit" class="button small">Print Result</button>
				</dd>
			</dl>

		</fieldset>
	<% end %>
</article>

<article>
	<h1>All Tags</h1>
	
	<!-- <h2>Standard Table</h2> -->
	
	<table class="gtable detailtable">
		<thead>
			<tr>
				<th>Tag #</th>
				<th>Part #</th>
				<th>Location</th>
				<th>Cost</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.part.try(:code) %> <a href="#" class="detail-link">Description</a></td>
				<td><%= tag.location.try(:code) %></td>
				<td><%= tag.part.try(:cost) %></td>
				<td>
					<a href="#" title="Edit"><img src="images/icons/edit.png" alt="Edit" /></a>
					<a href="#" title="Delete"><img src="images/icons/cross.png" alt="Delete" /></a>
					<%= link_to 'Print', tag_path(tag), :title => 'Print' %>
				</td>
			</tr>
			<tr class="detail">
				<td colspan="5">
					<table>
						<tbody>
							<tr>
								<th>Description</th>
								<td><%= tag.part.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>