<% @sub_menu = :tags %>
<article>

<table class="infos">
	<tr>
		<th>Tag Number</th>
		<td><%= @tag.id %></td>
	</tr>
	<tr>
		<th>Item Number</th>
		<td><%= @tag.inventory.item.try(:code) %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @tag.inventory.item.try(:description) %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= @tag.inventory.location.try(:code) %></td>
	</tr>
	<tr>
		<th>Date</th>
		<td><%= @tag.created_at.to_date %></td>
	</tr>
</table>

<div class="tablefooter clearfix">
	<div class="actions">
	<%= link_to image_tag('icons/printer.png'), tags_path(:search => {:id_eq => tag.id}, :format => :pdf) %>
	</div>
</div>
</article>
