<p id="notice"><%= notice %></p>

<p>
  <b>Count 1:</b>
  <%= @tag.count_1 %>
</p>

<p>
  <b>Count 2:</b>
  <%= @tag.count_2 %>
</p>

<p>
  <b>Count 3:</b>
  <%= @tag.count_3 %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
