<article>

<table class="infos">
	<tr>
		<th>Tag Number</th>
		<td><%= @tag.id %> <%= barcode(@tag.id.to_s) %></td>
	</tr>
	<tr>
		<th>Item Number</th>
		<td><%= @tag.part.try(:code) %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @tag.part.try(:description) %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= @tag.location.try(:code) %></td>
	</tr>
	<tr>
		<th>Date</th>
		<td><%= @tag.created_at.to_date %></td>
	</tr>
</table>

<div class="tablefooter clearfix">
	<div class="actions">
	<%= link_to 'Print', root_path %>
	</div>
</div>
</article>
