<% @sub_menu = :current %>

<% if allow_check_control? %>
<article>
	<%= render :partial => "shared/flash" %>
	<h1>Status</h1>

	<h2>Actions</h2>

	<div class="actions">
		
		<% if has_curr_check? %>
		<table class='infos'>

			<tr>
				<td>
					<%= action_link (curr_check.state == 'open'), 'Re-import Cost', import_cost_god_checks_path, :class => "button" %>
				</td>
				<td>
					<%= "(You can not reimport cost now.)" unless (curr_check.state == 'open') %> Import latest AO cost into SCS. <strong>(Items.xls)</strong>
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link (curr_check.state == 'open'), 'Re-import Qty', reimport_checks_path, :class => "button" %>
				</td>
				<td>
					<%= "(You can not reimport qty now.)" unless (curr_check.state == 'open' && !curr_check.final_inv) %> Re-import frozen quantities from ALL ORDER to SCS. <strong>(Inventory.xls)</strong>
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link (curr_check.state == 'open' && !curr_check.final_inv), 'Re-import Qty (Final)', reimport_checks_path(:check => {:final_inv => true}), :class => "button orange" %>
				</td>
				<td style="color:red; font-weight:bold">
					<%= "(You can not do the Final Re-Import Qty now.)" unless (curr_check.state == 'open' && !curr_check.final_inv) %> IMPORTANT: One time only, imported quantities should be final. <strong>(Inventory.xls)</strong>
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link curr_check.can_complete?, 'Complete', change_state_god_check_path(curr_check, :state => :complete), :method => :put, :confirm => "Are you sure to complete the check '#{curr_check.description}' ?", :class => "button" %>
				</td>
				<td>
					<%= "(You can not complete the check now.)" unless curr_check.can_complete? %> Complete the whole stock check. Generate adjustment excels.
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link curr_check.state == 'open', 'Cancel', change_state_god_check_path(curr_check, :state => :cancel), :method => :put, :confirm => "Are you sure to cancel the check '#{curr_check.description}' ?", :class => "button" %>
				</td>
				<td>
					<%= "(You can not cancel the check now.)" unless curr_check.state == 'open' %> Cancel current stock check session.
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link (curr_check.state == 'complete'), 'Recheck', god_rechecks_path, :class => 'button' %>
				</td>
				<td>
					<%= "(You can not Recheck the check now.)" unless (curr_check.state == 'complete') %> You must complete the stock check first and export all adjustment excels back to ALL ORDER.
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link ['complete', 'cancel'].include?(curr_check.state), 'Archive', change_state_god_check_path(curr_check, :state => :archive), :method => :put, :confirm => "Are you sure to archive the check '#{curr_check.description}' ?", :class => "button" %>
				</td>
				<td>
					<%= "(You can not archive the check now.)" unless (['complete', 'cancel'].include?(curr_check.state)) %> Archive the stock check.
				</td>
			</tr>

			<tr>
				<td>
					<%= action_link (curr_check.state != 'open'), 'Reopen', change_state_god_check_path(curr_check, :state => :open), :method => :put, :confirm => "Are you sure to reopen the check '#{curr_check.description}' ?", :class => "button" %>
				</td>
				<td>
					<%= "(You can not reopen the check now.)" unless (curr_check.state != 'open') %> Reopen a completed or canceled stock check in the case you might forget to input some tickets.
				</td>
			</tr>
		</table>
		<% end %>

		<% unless has_curr_check? %>
			<%= link_to 'Start A Stock Check', new_god_check_path, :class => "button" %>
			<%= link_to 'Accounts', accounts_path, :class => "button" %>
		<% end %>
	</div>
</article>
<% end %>

<% if has_curr_check? %>
<article>
<h2>Common</h2>
<%= render :partial => 'shared/curr_check', :locals => {:curr_check => @check} %>
</article>

<article>
<h2>Log</h2>
<table class="infos">
	<tr>
		<td><%= link_to 'Log', god_check_activities_path(curr_check) %></td>
	</tr>
</table>
</article>

<% if curr_check.state == 'complete' %>
<article>
	<h2>Download</h2>

	<table class="infos">
	<tbody>
		<tr>
			<th>Export to ALL ORDER</th>
			<td>
			<%= link_to('inventory_adjustment.xls', download_attachment_path(curr_check.inv_adj_xls)) unless curr_check.inv_adj_xls.nil? %>
			</td>
		</tr>
		<tr>
			<th>Manual Input XLS</th>
			<td><%= link_to('manual_input.xls', download_attachment_path(curr_check.manual_adj_xls)) unless curr_check.manual_adj_xls.nil? %></td>
		</tr>
	</tbody>
	</table>
</article>
<% end %>
<% end %>
