<% @sub_menu = :current %>

<%= render :partial => "shared/flash" %>
<% if has_curr_check? %>
<article>
<h1>Status</h1>
<%= render :partial => 'shared/curr_check', :locals => {:curr_check => @check} %>
</article>

<article>
<h2>Reports</h2>
<table class="infos">
	<tr>
		<td><%= link_to "Summary of counts by location", god_check_tags_path(curr_check) %></td>
	</tr>
	<tr>
		<td><%= link_to "Summary by value", god_check_inventories_path(curr_check) %></td>
	</tr>
</table>
</article>
<% end %>


<article>
	<h2>Actions</h2>

	<div class="actions">
	<% if allow_check_control? %>

		<% if curr_check && curr_check.state == 'open' %>
			<%= loading_link 'Complete', change_state_god_check_path(curr_check, :state => :complete), :method => :put, :confirm => "Are you sure to complete the check '#{curr_check.description}' ?", :class => "button" if curr_check.can_complete? %>
			<%= loading_link 'Cancel', change_state_god_check_path(curr_check, :state => :cancel), :method => :put, :confirm => "Are you sure to cancel the check '#{curr_check.description}' ?", :class => "button" %>
			<%= link_to 'Re-import', reimport_checks_path, :class => "button" %>
		<% elsif curr_check && ['complete', 'cancel'].include?(curr_check.state) %>
			<%= loading_link 'Archive', change_state_god_check_path(curr_check, :state => :archive), :method => :put, :confirm => "Are you sure to archive the check '#{curr_check.description}' ?", :class => "button" %>
			<%= loading_link 'Reopen', change_state_god_check_path(curr_check, :state => :open), :method => :put, :confirm => "Are you sure to reopen the check '#{curr_check.description}' ?", :class => "button" if curr_check.state != 'open' %>
		<% end %>

	<% else %>
		<%= link_to 'Start New One', new_god_check_path, :class => "button" %>
	<% end %>
	</div>
</article>


<% if curr_check && curr_check.state == 'complete' %>
<article>
	<h2>Download</h2>

	<table class="infos">
	<tbody>
		<tr>
			<th>Export to ALL ORDER</th>
			<td>
			<%= link_to('locations.xls', download_attachment_path(curr_check.location_xls)) unless curr_check.location_xls.nil? %>
			<br />
			<%= link_to('items.xls', download_attachment_path(curr_check.item_xls)) unless curr_check.item_xls.nil? %>
			<br />
			<%= link_to('inventory_adjustment.xls', download_attachment_path(curr_check.inv_adj_xls)) unless curr_check.inv_adj_xls.nil? %>
			</td>
		</tr>
	</tbody>
	</table>
</article>
<% end %>