<article>
	<h1>Archived List</h1>

	<table class="gtable">
		<thead>
		<tr>
			<th>Inventory Name</th>
			<th>Started at</th>
			<th>Launched by</th>
			<th>Final</th>
		</tr>
		</thead>
		
		<tbody>
		<% Check.history.each do |check| %>
		<tr>
			<td><%= check.description %></td>
			<td><%=l check.created_at, :format => :long %></td>
			<td><%= check.admin.try(:username) %></td>
			<td>
				<%= link_to "Final - Summary of counts by location", tags_check_reports_path(check, :nav => :archive) %>
				<br />
				<%= link_to "Final - Summary of counts by value", inventories_check_reports_path(check, :nav => :archive) %>
				<br />
				<%= link_to "Log", god_check_activities_path(check) %>
				
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>

</article>