<% @sub_menu = :current %>
<article>
	<h1>New check Step 1</h1>
	
	<%= render :partial => 'shared/errors', :locals => {:object => @check} %>

	<%= form_for @check, :url => god_checks_path, :html => {:class => 'uniform', :multipart => true} do |f| %>
		<%= hidden_field_tag :step, @step %>

		<fieldset>
		<legend>Upload Locations / PartNumbers / Inventories</legend>
		<dl class='inline'>

			<dt><%= f.label :description, 'Inventory Name' %></dt>
			<dd>
			<%= f.text_field :description, :tabindex => 1 %>
			</dd>
		
			<dt><%= f.label :locations_xls %></dt>
			<dd>
				<%= f.file_field :locations_xls, :tabindex => 2 %>
				<small>ALL ORDER: Reports -> Lists -> Location list</small>
			</dd>
		
			<dt><%= f.label :item_groups_xls %></dt>
			<dd>
				<%= f.file_field :item_groups_xls, :tabindex => 3 %>
				<small>ALL ORDER: Reports -> Lists -> Item Groups</small>
			</dd>

			<dt><%= f.label :items_xls %></dt>
			<dd>
				<%= f.file_field :items_xls, :tabindex => 4 %>
				<small>ALL ORDER: Reports -> Items -> Items</small>
			</dd>

			<dt><%= f.label :inventories_xls %></dt>
			<dd>
				<%= f.file_field :inventories_xls, :tabindex => 5 %>
				<small>ALL ORDER: Reports -> Inventory Tracking -> Location by Item Summary</small>
			</dd>

		</dl>
		</fieldset>

		<div class="buttons">
			<%= loading_submit f, "Next", :class => 'button' %>
		</div>
		
	<% end %>
	
	
</article>

