<% @sub_menu = :items %>
<article>
	<%= form_for @search, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :code_like %></dt>
				<dd>
				<%= f.text_field :code_like, :class => "small required", :tabindex => 1 %>
				<%= f.submit 'Search', :class => 'button' %>
				</dd>
			</dl>

		</fieldset>
	<% end %>
</article>

<article>
	<h1>Items List</h1>
	<table id="table2" class="gtable detailtable">
		<thead>
			<tr>
				<th>Item Number</th>
				<th>Description</th>
				<th>Cost</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
			<tr>
				<td><%= item.code %></td>
				<td><%= item.description[0, 40] %> <%= "..." if item.description.size > 40 %></td>
				<td><%= item.cost %></td>
				<td>
					<% if item.inventories.count > 0 %>
					<a href="#" class="detail-link">Locations (<%= item.inventories.count %>)</a>
					<% end %>
					<%= link_to 'Create Tag', new_item_tag_path(item) if curr_check.state == 'open' %>
				</td>
			</tr>
			<tr class="detail">
				<td colspan="4">
					<table>
						<thead>
							<tr>
								<th>Location Code</th>
								<th>Location Description</th>
								<th>Quantity</th>
								<th>Created at</th>
							</tr>
						</thead>
						<tbody>
							<% item.inventories.each do |inventory| %>
							<tr>
								<td><%= inventory.location.try(:code) %></td>
								<td><%= inventory.location.try(:description) %></td>
								<td><%= inventory.quantity %></td>
								<td><%= inventory.created_at %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @items %>
	</div>
</article>
