<% @sub_menu = :missing_cost %>

<article>
	<%= form_for @search, :url => missing_cost_items_path do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<dt><%= f.label :code_contains, 'Item Number' %></dt>
				<dd>
					<%= f.text_field :code_contains, :tabindex => 1 %>
					<%= f.submit 'Search', :class => "button" %>
					<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
				</dd>
			</dl>
		</fieldset>
	<% end %>
	<%= link_to 'Refresh Count Result', refresh_count_checks_path, :method => :put, :class => "button" %>
	
</article>

<article>
<h1>Item Numbers Missing Cost</h2>

<table class="gtable">
	<thead>
		<tr>
			<th><%= sort_link @search, :code, 'Item Number' %></th>
			<th>Description</th>
			<th>Cost</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.code %></td>
			<td><%= item.description[0, 40] if item.description %> <%= "..." if item.description && item.description.size > 40 %></td>
			<td><%= item.cost %></td>
			<td>
				<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), input_price_item_path(item), :title => "Input price" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="tablefooter clearfix">
	<%= will_paginate @items %>
</div>

</article>
