<% @nav = :dashboard %>

<section id="main" class="grid_12">
	<article id="dashboard">
		<% if notice %>
		<div class="information msg">
		<%= notice %>
		</div>
		<div class="clear"></div>
		<% end %>

		<% if alert %>
		<div class="error msg">
		<%= alert %>
		</div>
		<div class="clear"></div>
		<% end %>

		<h1>Dashboard</h1>

		<h2>Quick Links</h2>
		<section class="icons">
			<ul>
				<li>
					<%= link_to raw("#{image_tag('eleganticons/Paper.png')} <span>Tags</span>"), tags_path %>
				</li>
				<li>
					<%= link_to raw("#{image_tag('eleganticons/Paper-pencil.png')} <span>Count One</span>"), count_ones_path %>
				</li>
				<li>
					<a href="#">
						<img src="images/eleganticons/Paper-pencil.png" />
						<span>Count Two</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/eleganticons/Person-group.png" />
						<span>Counters</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/eleganticons/Graph.png" />
						<span>Reports</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/eleganticons/Config.png" />
						<span>Settings</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/eleganticons/Info.png" />
						<span>Help</span>
					</a>
				</li>
				<li>
					<a href="<%= destroy_admin_session_path %>">
						<img src="images/eleganticons/X.png" />
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</section>
	</article>

</section>
