<% @nav = :dashboard %>

<% if has_curr_check? %>
<article id="dashboard">
	<%= render :partial => 'shared/flash' %>

	<h1>Dashboard</h1>

	<section class="icons">
		<ul>
			<% if true %>
			<li>
				<%= link_to raw("#{image_tag('eleganticons/Paper.png')} <span>Inventory</span>"), inventories_path %>
			</li>
			<% end %>
			
			<li>
				<%= link_to raw("#{image_tag('eleganticons/Paper-pencil.png')} <span>Count One</span>"), curr_check.state == 'open' ? counts_path(:count => 1) : result_counts_path(:count => 1) %>
			</li>

			<% if curr_check.state != 'open' || Tag.in_check(curr_check.id).not_finish(1).count == 0 %>
			<li>
				<%= link_to raw("#{image_tag('eleganticons/Paper-pencil.png')} <span>Count Two</span>"), curr_check.state == 'open' ? counts_path(:count => 2) : result_counts_path(:count => 2) %>
			</li>
			<% end %>
			
			<% if curr_check.finish_count? %>
			<li>
				<a href="<%= count_varience_reports_path %>">
					<img src="images/eleganticons/Graph.png" />
					<span>Reports</span>
				</a>
			</li>
			<% end %>
			
			<li>
				<a href="<%= checks_path %>">
					<img src="images/eleganticons/Config.png" />
					<span>Settings</span>
				</a>
			</li>
			<!-- <li>
				<a href="#">
					<img src="images/eleganticons/Info.png" />
					<span>Help</span>
				</a>
			</li> -->
			<li>
				<a href="<%= destroy_admin_session_path %>">
					<img src="images/eleganticons/X.png" />
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</section>
</article>

<article>
<h1>Status</h1>
<%= render :partial => 'shared/curr_check', :locals => {:curr_check => curr_check} %>
</article>


<% end %>
