<% @sub_menu = :current %>
<article>
<%= render :partial => "shared/flash" %>

<h1>Status</h1>
<%= render :partial => 'shared/curr_check', :locals => {:curr_check => @check} %>

</article>

<article>
	<h2>Control</h2>

	<div class="actions">
		<% if curr_check.state == 'open' %>
			<%= loading_link 'Complete', change_state_checks_path(:state => :complete), :method => :put, :confirm => "Are you sure to archive the check '#{curr_check.description}' ?", :class => "button" %>
			<%= loading_link 'Cancel', change_state_checks_path(:state => :cancel), :method => :put, :confirm => "Are you sure to cancel the check '#{curr_check.description}' ?", :class => "button" %>
			<% unless curr_check.generated %>
			<%= loading_link 'Generate Tags', generate_checks_path, :method => :put, :confirm => "Do you setup all remote warehouses with that tags will not be generated ?", :class => "button" %>
			<% end %>
			<%= link_to 'Re-import', reimport_checks_path, :class => "button" %>
		<% else %>
			<%= link_to 'Start New One', new_check_path, :class => "button" %>

			<% if ['complete', 'cancel'].include?(curr_check.state) %>
				<%= loading_link 'Reopen', change_state_checks_path(:state => :open), :method => :put, :confirm => "Are you sure to reopen the check '#{curr_check.description}' ?", :class => "button" if curr_check.state != 'open' %>
			<% end %>
		<% end %>
	</div>
</article>

<% if curr_check.state == 'complete' %>
<article>
	<h2>Download</h2>

	<table class="infos">
	<tbody>
		<tr>
			<th>Export to ALL ORDER</th>
			<td>
			<%= link_to('locations.xls', attachment_path(curr_check.location_xls)) unless curr_check.location_xls.nil? %>
			<br />
			<%= link_to('items.xls', attachment_path(curr_check.item_xls)) unless curr_check.item_xls.nil? %>
			<br />
			<%= link_to('inventory_adjustment.xls', attachment_path(curr_check.inv_adj_xls)) unless curr_check.inv_adj_xls.nil? %>
			</td>
		</tr>
	</tbody>
	</table>
</article>
<% end %>