<% @sub_menu = :history %>
<article>
	<h1>History</h1>

	<table class="gtable">
		<thead>
		<tr>
			<th>Description</th>
			<th>Launched by</th>
			<th>Started at</th>
			<th>State</th>
			<th>Aciton</th>
		</tr>
		</thead>
		
		<tbody>
		<% Check.history.each do |check| %>
		<tr>
			<td><%= check.description %></td>
			<td><%= check.admin.try(:username) %></td>
			<td><%= check.created_at %></td>
			<td><%= check.state %></td>
			<td>
				<%= link_to 'Make current', make_current_check_path(check), :method => :put, :confirm => "Are you sure to change the current check to #{check.description || check.id}?", :class => "button small" %>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>

</article>