<article>
	<h1>New check</h1>
	
	<% if @check.errors.any? %>
		<div class="error msg">
			<%= pluralize(@check.errors.count, "error") %> prohibited this tag from being saved:
			<ul>
			<% @check.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>	
	<% end %>
	
	<%= form_for @check, :method => :post, :html => {:class => 'uniform', :multipart => true} do |f| %>
		<fieldset>
		<legend>Data</legend>
		<dl class='inline'>

			<dt><%= f.label :description %></dt>
			<dd><%= f.text_field :description %></dd>
		
			<dt><%= f.label :locations_xls %></dt>
			<dd>
				<%= f.file_field :locations_xls %>
				<small>ALL ORDER: Reports -> Lists -> Location list</small>
			</dd>
		
			<dt><%= f.label :item_groups_xls %></dt>
			<dd>
				<%= f.file_field :item_groups_xls %>
				<small>ALL ORDER: Reports -> Lists -> Item Groups</small>
			</dd>

			<dt><%= f.label :items_xls %></dt>
			<dd>
				<%= f.file_field :items_xls %>
				<small>ALL ORDER: Reports -> Items -> Items</small>
			</dd>

			<dt><%= f.label :inventories_xls %></dt>
			<dd>
				<%= f.file_field :inventories_xls %>
				<small>ALL ORDER: Reports -> Inventory Tracking -> Location by Item Summary</small>
			</dd>

		</dl>
		</fieldset>

		<div class="buttons">
			<%= f.submit :class => 'button' %>
		</div>
		
	<% end %>
</article>

