<% @sub_menu = :current %>
<article>
	<h1>Re-import</h1>
	
	<%= render :partial => 'shared/errors', :locals => {:object => @check} %>
	
	<%= form_for @check, :html => {:class => 'uniform', :multipart => true} do |f| %>
		<fieldset>
		<legend>Inventory excel</legend>
		<dl class='inline'>

			<dt><%= f.label :description, 'Inventory Name' %></dt>
			<dd><%= @check.description %></dd>

			<dt><%= f.label :reimport_inv_xls, "Inventory excel" %></dt>
			<dd>
				<%= f.file_field :reimport_inv_xls %>
				<small>ALL ORDER: Reports -> Inventory Tracking -> Location by Item Summary</small>
			</dd>

		</dl>
		</fieldset>

		<div class="buttons">
			<%= loading_submit f, "Re import", :class => 'button' %>
		</div>
		
	<% end %>
	
	
</article>

