<article>
	<h1><%= 'Final ' if @check.final_inv %>Re-import</h1>
	
	<%= render :partial => 'shared/errors', :locals => {:object => @check} %>
	
	<%= form_for @check, :html => {:class => 'uniform', :multipart => true} do |f| %>
	<%= f.hidden_field :final_inv %>
		<fieldset>
		<legend>Inventory excel</legend>
		<dl class='inline'>

			<dt><%= f.label :description, 'Inventory Name' %></dt>
			<dd><%= @check.description %></dd>

			<dt><%= f.label :reimport_inv_xls, "Inventory.xls" %></dt>
			<dd>
				<%= f.file_field :reimport_inv_xls %>
				<small>Import latest AO quantities into SCS</small>
				<small>ALL ORDER: Reports -> Inventory Tracking -> Location by Item Summary</small>
			</dd>

		</dl>
		</fieldset>

		<div class="buttons">
			<%= loading_submit f, "Re import", :class => 'button' %>
		</div>
	<% end %>
</article>

