<%= form_for @counter do |f| %>
	<%= render :partial => 'shared/errors', :locals => {:object => @counter} %>


  <dl class="inline">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name, :tabindex => 1 %></dd>

		<dt><%= f.label :Locations %></dt>
		<dd>
			<%= f.collection_select(:location_ids, curr_check.locations, :id, :code, {:include_blank => false, :multiple => true}, {:class => "small", :tabindex => 2})  %>
		</dd>
  </dl>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
