<article>
	<h2>Listing counters</h2>


	<table id="table2" class="gtable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Count 1</th>
				<th>Count 2</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @counters.each do |counter| %>
			<% assigns = counter.assigns.includes(:location).where(:locations => {:check_id => curr_check.id}) %>
			<tr>
				<td><%= counter.name %></td>
				<td><%=raw (assigns.where(:count => 1).collect {|assign| assign.location.code + remove_assign_link(assign)}).join(", ") %></td>
				<td><%=raw (assigns.where(:count => 2).collect {|assign| assign.location.code + remove_assign_link(assign)}).join(", ") %></td>
				<td>
					<%= link_to image_tag('icons/edit.png'), edit_counter_path(counter), :title => 'Edit' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'New Counter', new_counter_path %>
</article>

<article>
	<h2>Check Table</h2>

	<table class="gtable">
		<thead>
		<tr>
			<th>Location</th>
			<th>Count 1</th>
			<th>Count 2</th>
			<th>Action</th>
		</tr>
		</thead>
		
		<tbody>
		<% curr_check.locations.all(:order => "code ASC").each do |location| %>
		<tr>
			<td><%= location.code %></td>
			<% 
			location.assigns.where(:count => 1).each do |assign|
				assign_path(assign, :method => :delete)
			end
			%>
			<td><%=raw (location.assigns.where(:count => 1).collect {|assign| assign.counter.name + remove_assign_link(assign)}).join(", ") %></td>
			<td><%=raw (location.assigns.where(:count => 2).collect {|assign| assign.counter.name + remove_assign_link(assign)}).join(", ") %></td>
			<td>
				<%= link_to "Add Count 1", new_location_assign_path(location, :assign => {:count => 1}) if location.has_available_counters? %><br />
				<%= link_to "Add Count 2", new_location_assign_path(location, :assign => {:count => 2}) if location.has_available_counters? %>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
</article>

