<% @sub_menu = :items %>
<article>
	<%= render :partial => 'shared/flash' %>
	
	<%= form_for @search, :url => adm_items_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :code_like, 'Item Number contains' %></dt>
				<dd>
				<%= f.text_field :code_like, :class => "small required", :tabindex => 1 %>
				</dd>

				<dt><%= f.label :is_active_not_eq, 'inActive' %></dt>
				<dd><%= f.check_box :is_active_not_eq, {}, true, false %></dd>

				<dt>&nbsp;</dt>
				<dd><%= f.submit 'Search', :class => 'button' %></dd>
			</dl>
		</fieldset>
		<%= link_to "New Item", new_adm_item_path, :class => 'button' %>
	<% end %>
</article>

<article>
	<h1><%= curr_check.items.count %> Items</h1>
	<table id="table2" class="gtable detailtable">
		<thead>
			<tr>
				<th>Item Number</th>
				<th>Description</th>
				<th>Cost</th>
				<th>Active</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
			<tr>
				<td><%= item.code %></td>
				<td><%= item.description[0, 35] %> <%= "..." if item.description.size > 35 %></td>
				<td class='number'><%=number_to_currency item.cost %></td>
				<td><%= item.is_active %></td>
				<td>
					<% if curr_check.state == 'open' %>
					<%= link_to image_tag('icons/edit.png'), edit_adm_item_path(item), :title => 'Edit' %>
					<% end %>
					<%= link_to 'New Tag', new_adm_item_tag_path(item) if curr_check.state == 'open' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @items %>
	</div>
</article>
