<% @sub_menu = :missing_cost %>
<article>
	<h1>Input cost</h1>
	<%= form_for @item, :url => update_price_adm_item_path(@item), :html => {:class => 'uniform'} do |f| %>
		<% if @item.errors.any? %>
			<div class="error msg">
				<h2><%= pluralize(@item.errors.count, "error") %> prohibited this tag from being saved:</h2>
				<ul>
				<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>	
		<% end %>

		<fieldset>
			<legend>Form</legend>
			<dl class="inline">
				<dt><%= f.label :code %></dt>
				<dd>
					<%= f.label :code, @item.code %>
				</dd>
				<dt><%= f.label :description %></dt>
				<dd>
					<%= f.label :description, @item.description %>
				</dd>
				<dt><%= f.label :cost %></dt>
				<dd>
					<%= f.text_field :cost, :class => "medium required", :tabindex => 1 %>
				</dd>
			</dl>
		</fieldset>
		<div class="buttons">
			<%= f.submit 'Input price', :class => 'button' %>
		</div>

	<% end %>
</article>
