<% content_for :head do %>
	<script>
		jQuery(function($){ 
			// alert('document ready');

			$(".qty_form")
			// .bind('ajax:loading', function() {alert("loading!");})
			.bind('ajax:success', function(data, status, xhr) {alert("updated successfully!");})
			.bind('ajax:failure', function(xhr, status, error) {alert("failed to update!");})
			// .bind('ajax:complete', function() {alert("complete!");});

		});

	</script>
<% end %>

<article>
	<%= render :partial => "shared/flash" %>

	<h1>Remote Warehouse List</h1>
	<%= form_for @search, :url => dataentry_inventories_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<%= render :partial => "inventories/search", :locals => {:f => f} %>
			</dl>
		</fieldset>
	<% end %>
</article>

<article>
	<%= link_to "New Remote Warehouse Ticket", dataentry_items_path, :class => 'button' %>
	<table id="table2" class="gtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Ticket #' %></th>
				<th><%= sort_link @search, :location_code_and_item_code, 'Warehouse' %></th>
				<th><%= sort_link @search, :item_code_and_location_code, 'Item #' %></th>
				<th>Description</th>
				<th class='number'><%= sort_link @search, :inputed_qty %></th>
			</tr>
		</thead>
		<tbody>
			<% @inventories.each do |inventory| %>
			<tr>
				<td>R-<%= inventory.id %></td>
				<td><%= inventory.location.try(:code) %></td>
				<td><%= inventory.item.try(:code) %></td>
				<td><%= inventory.item.try(:description) %></td>
				<td class='number'>
					<%= form_for inventory, :url => dataentry_inventory_path(inventory), :remote => true, :html => {:class => 'qty_form'} do |f| %>
					<%= f.text_field :inputed_qty, :size => 3 %>
					<%= f.submit 'Save' %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @inventories %>
	</div>
</article>
