<article>
	<%= render :partial => 'shared/flash' %>
	<h1>Count <%= @c_i %> Data Entry</h1>
		
	<%= form_for @search, :url => counts_path, :method => :get do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<dt><label for="name">Ticket Number</label></dt>
				<dd>
					<%= f.text_field :id_eq, :class => "small required", :size => "50", :tabindex => 1 %>
					<%= hidden_field_tag :count, @c_i %>
					<%= f.submit 'Search', :class => "button" %>
					<% if @c_i < 3 %>
						<small><%= Tag.countable.in_check(curr_check.id).not_finish(@c_i).count %> to go</small>
					<% end %>
				</dd>
			</dl>

		</fieldset>
	<% end %>
</article>