<% @sub_menu = :entry %>
<% if @tag %>
<article>
	<%= render :partial => 'shared/flash' %>
			
	<h1>Count <%= @c_i %> Data Entry</h1>

	<%= form_for @tag, :url => count_path(@tag) do |f| %>
		<fieldset>
			<legend>Input</legend>
			<dl class="inline">
				<dt><label>Tag Number</label></dt>
				<dd><label><%= @tag.id %></label></dd>
			
				<dt><label>Location</label></dt>
				<dd><label><%= @tag.inventory.location.try(:code) %> <%= @tag.inventory.location.try(:description) %></label></dd>
				
				
				<dt><label>Item Number</label></dt>
				<dd><label><%= @tag.inventory.item.try(:code) %></label></dd>
			
				<dt><label>Description</label></dt>
				<dd><label><%= @tag.inventory.item.try(:description) %></label></dd>

				<dt><%= f.label @c_s %></dt>
				<dd>
					<%= f.text_field @c_s, :class => "small required", :size => "50", :tabindex => 1 %>
					<%= hidden_field_tag :count, @c_i %>
				</dd>
			</dl>

			<div class="buttons">
				<%= f.submit 'Save', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>
<% end %>

<article>
	<%= form_for @search, :url => counts_path, :method => :get do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<dt><label for="name">Tag Number</label></dt>
				<dd>
					<%= f.text_field :id_eq, :class => "small required", :size => "50", :tabindex => 2 %>
					<%= hidden_field_tag :count, @c_i %>
					<%= f.submit 'Search', :class => "button" %>
				</dd>
			</dl>

		</fieldset>
	<% end %>
</article>

