<% @sub_menu = :missing %>
<article>
	<%= form_for @search, :url => missing_tag_counts_path, :html => {:class => 'uniform'} do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f} %>
				<%= hidden_field_tag :count, @c_i %>
			</dl>
		</fieldset>
		<div class='buttons'>
			<%= f.submit 'Filter', :class => 'button' %>
			<%= link_to 'Print Result', url_for(request.params.merge(:format => :pdf)), :class => 'button' %>
			<%= link_to 'Export to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
		</div>

	<% end %>
</article>

<article>
	<h1>Missing Tags</h1>
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th>Tag Number</th>
				<th>Item Number</th>
				<th>Location</th>
				<th>Count <%= @c_i %></th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.send(@c_s) %></td>
				<td>
					<%= link_to image_tag('icons/printer.png'), tags_path(:search => {:id_eq => tag.id}, :format => :pdf) %>
					<%= link_to image_tag('icons/cross.png'), tag_path(tag), :method => :delete, :confirm => "Are you sure to delete Tag #{tag.id}?", :title => 'Delete' %>
				</td>
			</tr>
			<% end %>
			
		</tbody>
	</table>
	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>