<% @sub_menu = :entry %>

<%= render :partial => 'search' %>

<% if @tag %>
<article <%= "style='background-color: ##{curr_check.send("color_#{@c_i}".to_sym)}'" if curr_check.send("color_#{@c_i}".to_sym) %>>

	<%= form_for @tag, :url => count_path(@tag) do |f| %>
		<fieldset style="background-color: white">

			<dl class="inline">
				<dt><label>Ticket Number</label></dt>
				<dd><label><%= @tag.id %></label></dd>
			
				<dt><label>Warehouse</label></dt>
				<dd><label><%= @tag.inventory.location.try(:code) %> <%= @tag.inventory.location.try(:description) %></label></dd>
				
				
				<dt><label>Item Number</label></dt>
				<dd><label><%= @tag.inventory.item.try(:code) %></label></dd>
			
				<dt><label>Description</label></dt>
				<dd><label><%= @tag.inventory.item.try(:description) %></label></dd>

				<dt><%= f.label :sloc, 'Shelf Location' %></dt>
				<dd><label><%= @tag.sloc || raw('&nbsp;') %></label>
				</dd>

				<dt><%= f.label @c_s %></dt>
				<dd>
					<%= @tag.send(@c_s) %>
				</dd>
			</dl>
		</fieldset>
	<% end %>
</article>
<% end %>


