<article>
	<%= render :partial => "shared/flash" %>
	<h2>List by Participant</h2>

	<table id="table2" class="gtable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Count 1</th>
				<th>Count 2</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @counters.each do |counter| %>
			<tr>
				<td><%= counter.name %></td>
				<td>
					<% counter.assigns.in_check(curr_check.id).where(:count => 1).each_with_index do |ass, index| %>
						<%= raw("<br />") unless index == 0 %>
						<%= ass.location.code %>
					<% end %>
				</td>
				<td>
					<% counter.assigns.in_check(curr_check.id).where(:count => 2).each_with_index do |ass, index| %>
						<%= raw("<br />") unless index == 0 %>
						<%= ass.location.code %>
					<% end %>
				</td>
				<td>
					<%= link_to image_tag('icons/edit.png'), edit_adm_counter_path(counter), :title => 'Edit' if allow_data_entry? %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= link_to 'New Participant', new_adm_counter_path, :class => "button" if allow_data_entry? %>
	</div>
</article>

<article>
	<h2>List by Onsite Warehouse</h2>

	<table class="gtable">
		<thead>
		<tr>
			<th width="30%">Warehouse</th>
			<th>Count 1</th>
			<th>Count 2</th>
			<!--th>Action</th-->
		</tr>
		</thead>

		<tbody>
		<% curr_check.locations.tagable.all(:order => "code ASC").each do |location| %>
		<tr>
			<td><%= location.code %></td>
			<td>
				<% location.assigns.in_check(curr_check.id).where(:count => 1).each_with_index do |ass, index| %>
					<%= raw("<br />") unless index == 0 %>
					<%= ass.counter.name %>
				<% end %>
			</td>
			<td>
				<% location.assigns.in_check(curr_check.id).where(:count => 2).each_with_index do |ass, index| %>
					<%= raw("<br />") unless index == 0 %>
					<%= ass.counter.name %>
				<% end %>
			</td>
			<!--td>
				< link_to image_tag('icons/edit.png'), edit_location_path(location), :title => 'Edit' if curr_check.state == 'open' >
			</td-->
		</tr>
		<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= link_to 'Add Onsite Warehouse', new_adm_location_path, :class => "button" if allow_data_entry? %>
		<%= link_to 'Download Excel', adm_locations_path(:format => :xls), :class => "button" %>
	</div>

</article>
