<% @sub_menu = :report %>

<article>
	<h1>Count <%= @c_i %> VS Frozen QTY's</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Total Onsite Frozen Value</th>
			<td class="number"><%=number_to_currency curr_check.onsite_frozen_value %></td>
		</tr>
		<tr>
			<th>Counted <%= @c_i %> Value</th>
			<td class="number"><%=number_to_currency curr_check.count_time_value(@c_i) %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>
	
	<%= form_for @search, :url => count_frozen_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :item_code_like, 'Item' %></dt>
				<dd><%= f.text_field :item_code_like, :class => "small", :tabindex => 1 %></dd>
				<dt><%= f.label :location_id_eq, 'Onsite Location' %></dt>
				<dd>
					<%= hidden_field_tag :count, @c_i %>
					<%= f.collection_select(:location_id_eq, curr_check.locations.tagable, :id, :code, {:include_blank => true}, {:class => "small", :tabindex => 2})  %>
				</dd>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	<table id="table1" class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :location_id_and_item_id, 'Location' %></th>
				<th><%= sort_link @search, :item_id_and_location_id, 'Item' %></th>
				<th><%= sort_link @search, :item_al_cost, 'Frozen Cost' %></th>
				<th><%= sort_link @search, :item_cost, 'Changed Cost' %></th>
				<th><%= sort_link @search, :quantity, 'Frozen QTY' %></th>
				<th><%= sort_link @search, "#{@c_s.to_s}_qty".to_sym, "Count #{@c_i}" %></th>
				<th><%= sort_link @search, :frozen_value, "Frozen Value" %></th>
				<th><%= sort_link @search, "#{@c_s.to_s}_value".to_sym, "Counted #{@c_i} Value" %></th>
			</tr>
		</thead>
		<tbody>
			<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.location.try(:code) %></td>
				<td><a href="#" class="detail-link"><%= inventory.item.try(:code) %></a></td>
				<td class='number'><%=number_to_currency inventory.item.try(:al_cost) %></td>
				<td class='number'><%=number_to_currency inventory.item.try(:cost) %></td>
				<td class='number'><%= inventory.quantity %></td>
				<td class='number'><%= inventory.send("counted_#{@c_i.to_s}_qty".to_sym) %></td>
				<td class='number'><%=number_to_currency inventory.frozen_value %></td>
				<td class='number'><%=number_to_currency inventory.send("counted_#{@c_i.to_s}_value".to_sym) %></td>
			</tr>

			<tr class="detail">
				<td colspan="8">
					<table>
						<tbody>
							<tr>
								<td><%= inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<% end %>

		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @inventories %>
	</div>
</article>