<article>
	<%= form_for @search, :url => count_varience_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><label for="name">Tolerance</label></dt>
				<dd>
					<%= f.text_field :tolerance_v, :class => "small required", :tabindex => 1 %> (> $ in value)
					<%= f.text_field :tolerance_q, :class => "small required", :tabindex => 2 %> (> % in quantity)
				</dd>
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :tab_index => 3} %>
			</dl>

			<div class="buttons">
				<%= f.submit 'Filter', :class => "button" %>
				<%= link_to 'Print Result', url_for(request.params.merge(:format => :pdf)), :class => 'button' %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<h1>Count Varience Report</h1>
	
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th>TAG #</th>
				<th>Location</th>
				<th>Item Number</th>
				<th>Description</th>
				<th>Count 1</th>
				<th>Count 2</th>
				<th>Value 1</th>
				<th>Value 2</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td><%= tag.inventory.item.try(:description).to_s[0, 30] %></td>
				<td><%= tag.count_1 %></td>
				<td><%= tag.count_2 %></td>
				<td><%= (tag.count_1 || 0) * (tag.inventory.item.try(:cost) || 0.0) %></td>
				<td><%= (tag.count_2 || 0) * (tag.inventory.item.try(:cost) || 0.0) %></td>
				<td><%= link_to image_tag('icons/printer.png'), tags_path(:search => {:id_eq => tag.id}, :format => :pdf) %></td>
			</tr>
			<% end %>
			
			
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>