<% @sub_menu = :variance %>
<article>
	<h1>Count Varience</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Counted 1 Value</th>
			<td class="number"><%=number_to_currency curr_check.count_time_value(1) %></td>
		</tr>
		<tr>
			<th>Counted 2 Value</th>
			<td class="number"><%=number_to_currency curr_check.count_time_value(2) %></td>
		</tr>
		<tr>
			<th>Difference</th>
			<td class="number"><%=number_to_currency (curr_check.count_time_value(1) - curr_check.count_time_value(2)).abs %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>
	<%= form_for @search, :url => count_varience_check_reports_path(@check), :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><label for="name">Tolerance</label></dt>
				<!--dd>
					< f.text_field :tolerance_v, :class => "small", :tabindex => 1 > ($ in value)
					< f.text_field :tolerance_q, :class => "small", :tabindex => 2 > (% in quantity)
				</dd-->
				<dd>
					<%= text_field_tag :tole_value, @tole[:tole_value], :class => "small", :tabindex => 1 %> ($ in value)
					or
					<%= text_field_tag :tole_quantity, @tole[:tole_quantity], :class => "small", :tabindex => 2 %> (% in quantity)
				</dd>
				
				
				<dt>
					<%= f.label :count_3_is_null, 'Count 3 not finished' %>
				</dt>
				<dd>
					<%= f.check_box :count_3_is_null, {}, true, false %>
				</dd>
				
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :tab_index => 4, :check => curr_check} %>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<div class="buttons">
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	</div>
	<table id="table1" class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Ticket #' %></th>
				<th><%= sort_link @search, :count_1 %></th>
				<th><%= sort_link @search, :count_2 %></th>
				<th>Differ (%)</th>
				<th>Count 1 Value</th>
				<th>Count 2 Value</th>
				<th>Differ ($)</th>
				<th><%= sort_link @search, :count_3, 'Count 3' %></th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><a href="#" class="detail-link"><%= tag.id %></a></td>
				<td class='number'><%= tag.count_1 %></td>
				<td class='number'><%= tag.count_2 %></td>
				<td class="number"><%= tag.count_differ %> %</td>
				<td class='number'><%=number_to_currency tag.value_1 %></td>
				<td class='number'><%=number_to_currency tag.value_2 %></td>
				<td class='number'><%=number_to_currency tag.value_differ %></td>
				<td class='number'><%= tag.count_3 %></td>
			</tr>
			
			<tr class="detail">
				<td colspan="8">
					<table>
						<tbody>
							<tr>
								<td><%= tag.inventory.location.try(:code) %></td>
								<td><%= tag.inventory.item.try(:code) %></td>
								<td><%= tag.inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			
			<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>
