<article>
	<h1>Count Varience Report</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Counted 1 Value</th>
			<td class="number"><%=number_to_currency curr_check.total_count_value(1).to_f %></td>
		</tr>
		<tr>
			<th>Counted 2 Value</th>
			<td class="number"><%=number_to_currency curr_check.total_count_value(2).to_f %></td>
		</tr>
		<tr>
			<th>Difference</th>
			<td class="number"><%=number_to_currency (curr_check.total_count_value(1).to_f - curr_check.total_count_value(2).to_f).abs %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>
	<%= form_for @search, :url => count_varience_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><label for="name">Tolerance</label></dt>
				<dd>
					<%= text_field_tag "tole_value", @tole[:tole_value], :class => "small required", :tabindex => 1 %> ($ in value)
					<%= text_field_tag "tole_quantity", @tole[:tole_quantity], :class => "small required", :tabindex => 2 %> (% in quantity)
				</dd>
				<dt>
					<%= f.label :count_3_is_null, 'Count 3 not finished' %>
				</dt>
				<dd>
					<%= f.check_box :count_3_is_null, {}, true, false %>
				</dd>
				
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :tab_index => 4} %>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<div class="buttons">
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	</div>
	<table id="table1" class="gtable detailtable">
		<thead>
			<tr>
				<th>TAG #</th>
				<th>Location</th>
				<th>Item Number</th>
				<th>Count 1</th>
				<th>Count 2</th>
				<th>Differ</th>
				<th>Value 1</th>
				<th>Value 2</th>
				<th>Differ</th>
				<th>Count 3</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td class='number'><%= tag.count_1 %></td>
				<td class='number'><%= tag.count_2 %></td>
				<td class="number"><%= tag.count_differ %> %</td>
				<td class='number'><%=number_to_currency (tag.count_1 || 0) * (tag.inventory.item.try(:cost) || 0.0) %></td>
				<td class='number'><%=number_to_currency (tag.count_2 || 0) * (tag.inventory.item.try(:cost) || 0.0) %></td>
				<td class='number'><%=number_to_currency tag.value_differ %></td>
				<td class='number'><%= tag.count_3 %></td>
				<td>
					<% if curr_check.state == 'open' %>
					<%= link_to 'Count 3', counts_path(:search => {:id_eq => tag.id}, :count => 3) %>
					<% end %>
				</td>
			</tr>
			
			<tr class="detail">
				<td colspan="6">
					<table>
						<tbody>
							<tr>
								<td><%= tag.inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			
			<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>
