<article>
	<%= form_for @search, :url => count_varience_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><label for="name">Tolerance</label></dt>
				<dd>
					<%= f.text_field :tolerance_v, :class => "small required", :tabindex => 1 %> (> $ in value)
					<%= f.text_field :tolerance_q, :class => "small required", :tabindex => 2 %> (> % in quantity)
				</dd>
				<dt><label for="select1">Location</label></dt>
				<dd>
					<%= f.collection_select(:location_id_eq, Location.all, :id, :code, {:include_blank => true}, {:class => "small required", :tabindex => 3}) %>
				</dd>
			</dl>

			<div class="buttons">
				<button type="submit" class="button">Filter</button>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<h1>Count Varience Report</h1>
	
	<table id="table1" class="gtable sortable">
		<thead>
			<tr>
				<th>TAG #</th>
				<th>Location</th>
				<th>Item Number</th>
				<th>Description</th>
				<th>Count 1</th>
				<th>Count 2</th>
				<th>Value 1</th>
				<th>Value 2</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.location.try(:code) %></td>
				<td><%= tag.part.try(:code) %></td>
				<td><%= tag.part.try(:description).to_s[0, 30] %></td>
				<td><%= tag.count_1 %></td>
				<td><%= tag.count_2 %></td>
				<td><%= (tag.count_1 || 0) * (tag.part.try(:cost) || 0.0) %></td>
				<td><%= (tag.count_2 || 0) * (tag.part.try(:cost) || 0.0) %></td>
				<td><a href="#">count 3</a></td>
			</tr>
			<% end %>
			
			
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>