<article>
	<%= form_for @search, :url => final_report_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f} %>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search' %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<h1>Final Report</h1>
	
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th>TAG #</th>
				<th>Location</th>
				<th>Item Number</th>
				<th>Description</th>
				<th>Counted</th>
				<th>Cost</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td><%= tag.inventory.item.try(:description).to_s[0, 30] %></td>
				<td><%= tag.final_count %></td>
				<td><%= tag.inventory.item.try(:cost) %></td>
				<td><%= tag.final_count * (tag.inventory.item.try(:cost) || 0) %></td>
			</tr>
			<% end %>

		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>