<article>
	<h1>Final Valuation VS Frozen QTY's</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Total Frozen Value</th>
			<td class="number"><%=number_to_currency curr_check.total_frozen_value %></td>
		</tr>
		<tr>
			<th>Total Counted Value</th>
			<td class="number"><%=number_to_currency curr_check.total_count_final_value %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>

	<%= form_for @search, :url => final_frozen_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<dt><%= f.label :item_code_like, 'Item' %></dt>
				<dd><%= f.text_field :item_code_like, :class => "small", :tabindex => 1 %></dd>
				<dt><%= f.label :location_id_eq, 'Location' %></dt>
				<dd>
					<%= f.collection_select(:location_id_eq, curr_check.locations, :id, :code, {:include_blank => true}, {:class => "small", :tabindex => 2})  %>
				</dd>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>


<article>
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :location_id_and_item_id, 'Location' %></th>
				<th><%= sort_link @search, :item_id_and_location_id, 'Item' %></th>
				<th>Description</th>
				<th>Frozen Cost</th>
				<th>Changed Cost</th>
				<th>Frozen QTY</th>
				<th>Final QTY</th>
				<th>Adjust QTY</th>
				<th>Frozen Value</th>
				<th>Counted Value</th>
			</tr>
		</thead>
		<tbody>
			<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.location.try(:code) %></td>
				<td><%= inventory.item.try(:code) %></td>
				<td><%= inventory.item.try(:description).to_s[0, 30] %></td>
				<td class='number'><%=number_to_currency inventory.item.try(:al_cost) %></td>
				<td class='number'><%=number_to_currency inventory.item.try(:cost) %></td>
				<td class='number'><%= inventory.quantity %></td>
				<td class='number'><%= inventory.result_qty %></td>
				<td class='number'><%= (inventory.result_qty || 0) - (inventory.quantity || 0) %></td>
				<td class='number'><%=number_to_currency inventory.frozen_value %></td>
				<td class='number'><%=number_to_currency inventory.counted_value %></td>
			</tr>
			<% end %>

		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @inventories %>
	</div>
</article>
