<article>
	<h1>Final Report</h1>
	<h2>Summary</h2>
	<table class="infos">
		<tr>
			<th>Total Counted Value</th>
			<td class="number"><%=number_to_currency curr_check.total_count_final_value %></td>
		</tr>
	</table>
</article>

<article>
	<h2>Details</h2>

	<%= form_for @search, :url => final_result_reports_path, :method => :get do |f| %>
		<fieldset>
			<legend>Filter</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :check => curr_check} %>
			</dl>

			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>

<article>
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Tag' %></th>
				<th><%= sort_link @search, :inventory_location_id, 'Location' %></th>
				<th><%= sort_link @search, :inventory_item_id, 'Item Number' %></th>
				<th>Description</th>
				<th>Counted</th>
				<th>Cost</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<% @tags.each do |tag| %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.inventory.item.try(:code) %></td>
				<td><%= tag.inventory.item.try(:description).to_s[0, 30] %></td>
				<td class='number'><%= tag.final_count %></td>
				<td class='number'><%=number_to_currency tag.inventory.item.try(:cost) %></td>
				<td class='number'><%=number_to_currency (tag.final_count || 0) * (tag.inventory.item.try(:cost) || 0) %></td>
			</tr>
			<% end %>

		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>
