<article>
	<%= render :partial => 'shared/flash' %>
	<%= form_for @search, :url => god_check_tags_path(@check) do |f| %>
		<fieldset>
			<legend>Search</legend>
			<dl class="inline">
				<%= render :partial => 'tags/search_dl', :locals => {:f => f, :check => @check} %>
			</dl>
			<div class="buttons">
				<%= f.submit 'Search', :class => "button" %>
			</div>
		</fieldset>
	<% end %>
</article>

<article>
	<h1><%= @search.count %> Tickets</h1>
	<%= link_to 'Export Result to Excel', url_for(request.params.merge(:format => :xls)), :class => 'button' %>
	<table class="gtable detailtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :id, 'Ticket No' %></th>
				<th><%= sort_link @search, :location, 'Warehouse' %></th>
				<th><%= sort_link @search, :sloc, 'Shelf Location' %></th>
				<th><%= sort_link @search, :inventory_item_code, 'Part #' %></th>
				<th><%= sort_link @search, :count_1 %></th>
				<th><%= sort_link @search, :count_2 %></th>
				<th><%= sort_link @search, :count_3 %></th>
				<th><%= sort_link @search, :audit %></th>
				<th><%= sort_link @search, :final_count, 'Final' %></th>
			</tr>
		</thead>
		
		<tbody>
			<% @tags.each do |tag| %>
			<% next unless tag.inventory %>
			<tr>
				<td><%= tag.id %></td>
				<td><%= tag.inventory.location.try(:code) %></td>
				<td><%= tag.sloc %></td>
				<td><a href="#" class="detail-link"><%= tag.inventory.item.try(:code) %></a></td>
				<td class="number"><%= tag.count_1 %></td>
				<td class="number"><%= tag.count_2 %></td>
				<td class="number"><%= tag.count_3 %></td>
				<td class="number"><%= tag.audit %></td>
				<td class="number"><%= tag.final_count %></td>
			</tr>
			<tr class="detail">
				<td colspan="7">
					<table>
						<tbody>
							<tr><td><%= tag.inventory.item.try(:description) %></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>

		</tbody>
	</table>
	
	<div class="tablefooter clearfix">
		<%= will_paginate @tags %>
	</div>
</article>