<article>
	<%= render :partial => 'shared/flash' %>

	<h1>Warehouse</h1>

	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th width="30%"><%= sort_link @search, :code %></th>
				<th><%= sort_link @search, :description %></th>
				<th><%= sort_link @search, :is_remote, 'Site' %></th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
			<tr>
				<td><%= location.code %></td>
				<td><%= location.description %></td>
				<td><%= location.is_remote == true ? "Remote" : "Onsite" %></td>
				<td>
					<% if curr_check.state == 'open' %>
						<%= link_to image_tag('icons/edit.png'), edit_location_path(location) %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<%= will_paginate @locations %>
	</div>

</article>
