<article>
	<%= render :partial => 'shared/flash' %>

	<h1>Locations</h1>

	<table id="table1" class="gtable">
		<thead>
			<tr>
				<th><%= sort_link @search, :code %></th>
				<th>Description</th>
				<th>Tags</th>
				<th>AL</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @locations.each do |location| %>
			<tr>
				<td><%= location.code %></td>
				<td><%= location.description %></td>
				<td>
					<%= link_to location.tags.count, tags_path(:search => {:inventory_location_id_eq => location.id}) if location.tags.count > 0 %>
					<%= location.tags.count if location.tags.count == 0 %>
				</td>
				<td><%= location.from_al %></td>
				<td>
					<% unless location.from_al %>
						<%= link_to image_tag('icons/edit.png'), edit_location_path(location) %>
						<% if location.tags.count == 0 %>
						<%= link_to image_tag('icons/cross.png'), location_path(location), :method => :delete, :confirm => "Are you sure to delete Location #{location.code}?" %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="tablefooter clearfix">
		<div class="actions">
			<%= link_to 'Add location', new_location_path, :class => "button small" %>
		</div>
		<%= will_paginate @locations %>
	</div>

</article>
