<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Stock Check System</title>
<meta charset="utf-8">

<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'skins/yellow' %>

<%= stylesheet_link_tag 'superfish' %>
<%= stylesheet_link_tag 'uniform.default' %>
<%= stylesheet_link_tag 'jquery.wysiwyg' %>
<%= stylesheet_link_tag 'facebox' %>
<%= stylesheet_link_tag 'demo_table_jui' %>
<%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.8.custom' %>

<!--[if lte IE 8]>
<%= javascript_include_tag 'html5' %>
<%= javascript_include_tag 'selectivizr' %>
<%= javascript_include_tag 'excanvas.min' %>
<![endif]-->

<%= javascript_include_tag 'jquery-1.4.4.min' %>
<%= javascript_include_tag 'jquery-ui-1.8.8.custom.min' %>
<%= javascript_include_tag 'jquery.dataTables.min' %>
<%= javascript_include_tag 'jquery.validate.min' %>
<%= javascript_include_tag 'jquery.uniform.min' %>
<%= javascript_include_tag 'jquery.wysiwyg' %>
<%= javascript_include_tag 'superfish' %>
<%= javascript_include_tag 'cufon-yui' %>
<%= javascript_include_tag 'Delicious_500.font' %>
<%= javascript_include_tag 'jquery.flot.min' %>
<%= javascript_include_tag 'custom' %>
<%= javascript_include_tag 'facebox' %>

<script type="text/javascript">
jQuery(function($) {
	$('#datatable').dataTable({
		'bJQueryUI': true,
		'sPaginationType': 'full_numbers'
	});
});
</script>

<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>

<style type="text/css"><%= yield :stylesheets %></style>
</head>
<body>

<header id="top">
	<div class="container_12 clearfix">
		<div id="logo" class="grid_6">
			<!-- replace with your website title or logo -->
			<a id="site-title" href="<%= root_path %>"><span>Stock Check</span> system</a>
			<a id="view-site" href="http://www.vivax-metrotech.com">vivax-metrotech</a>
		</div>
		<% if admin_signed_in? %>
		<div id="userinfo" class="grid_6">
			Welcome, <a href="#">Rich</a>
		</div>
		<% end %>
	</div>
</header>

<% if admin_signed_in? %>
<nav id="topmenu">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ul id="mainmenu" class="sf-menu">
				<li <%= "class='current'" if @nav == :dashboard %>><%= link_to 'Dashboard', root_path %></li>

				<% if has_curr_check? %>
				<li <%= "class='current'" if @nav == :tag %>>
					<%= link_to 'Inventory', items_path %>
					<%= render :partial => 'shared/inventory_ul' %>
				</li>
				<li <%= "class='current'" if @nav == :count && @c_i == 1 %>><a href="#">Count 1</a>
					<%= render :partial => 'shared/count_ul', :locals => {:count => 1} %>
				</li>
				<% if Tag.in_check(curr_check.id).not_finish(1).count == 0 %>
				<li <%= "class='current'" if @nav == :count && @c_i == 2 %>><a href="#">Count 2</a>
					<%= render :partial => 'shared/count_ul', :locals => {:count => 2} %>
				</li>
				<% end %>

				<% if Tag.in_check(curr_check.id).not_finish(1).count == 0 && Tag.in_check(curr_check.id).not_finish(2).count == 0 %>
				<li <%= "class='current'" if @nav == :count && @c_i == 3 %>><a href="#">Count 3</a>
					<%= render :partial => 'shared/count_ul', :locals => {:count => 3} %>
				</li>
				<% end %>
				
				<li <%= "class='current'" if @nav == :report %>><a href="#">Reports</a>
					<ul>
						<li><%= link_to 'Count Varience', count_varience_reports_path %></li>
						<li><%= link_to 'Final Valuation', final_report_reports_path %></li>
						<li><%= link_to 'Final Valuation (Frozen QTYs)', final_frozen_reports_path %></li>
					</ul>
				</li>
				<% end %>
				
				<li <%= "class='current'" if @nav == :setting %>><a href="#">Settings</a>
					<%= render :partial => 'shared/settings_ul' %>
				</li>
			</ul>
			<ul id="usermenu">
				<!-- <li><a href="#" class="inbox">Inbox (3)</a></li> -->
				<li><%= link_to 'Logout', destroy_admin_session_path %></li>
			</ul>
		</div>
	</div>
</nav>
<% end %>

<section id="content">
<section class="container_12 clearfix">
<%= content_for?(:content) ? yield(:content) : yield %>
</section>
</section>

<% if admin_signed_in? %>
<footer id="bottom">
	<section class="container_12 clearfix">
		<!-- <div class="grid_6">
			<a href="#">Menu 1</a>
			&middot; <a href="#">Menu 2</a>
			&middot; <a href="#">Menu 3</a>
			&middot; <a href="#">Menu 4</a>
		</div> -->
		<div class="grid_12 alignright">
			Copyright (c) 2011 Vivax-Metrotech Group of Companies. All rights reserved. <br /><a href="http://www.vivax-metrotech.com">www.vivax-metrotech.com</a>
		</div>
	</section>
</footer>
<% end %>
</body>
</html>
