<% @nav = :tag %>
<% content_for :stylesheets do %>
<% end %>

<% content_for :content do %>
<section id="main" class="grid_9 push_3">
	<%= yield %>
</section>

<aside id="sidebar" class="grid_3 pull_9">
	<div class="box search">
		<form>
			<dl>
				<dt><label for="s">Search Tags</label></dt>
				<dd><input id="s" type="text" class="small" /></dd>
			
				<dt><label for="s">Location</label></dt>
				<dd>
					<select size="1" class="small">
						<option value="">All Location</option>
						<option value="option1">AAA-XXX</option>
						<option value="option2">BBB-DDD</option>
						<option value="option3">CCC-123</option>
						<option value="option4">FFFF-ccc</option>
					</select>
				</dd>
			</dl>

			<button class="button small">Search</button>
		</form>
	</div>
	<div class="box menu">
		<h2>Side Menu</h2>
		<section>
			<ul>
				<li><%= link_to 'Add', new_tag_path %></li>
				<li><%= link_to 'Import From Quick Book', to_import_tags_path %></li>
				<li class='current'><%= link_to 'List', tags_path %></li>
				<li><%= link_to 'Missing Cost', missing_cost_tags_path %></li>
				<li><%= link_to 'Print Tags', new_tag_path %></li>
			</ul>
		</section>
	</div>

</aside>


<% end %>

<%= render :file => 'layouts/application' %>