<article>
<h1>Accounts</h1>

<%= link_to 'Add account', new_account_path, :class => "button" %>
<table class="gtable">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Roles</th>
			<th>Action</th>
		</tr>
	</thead>
	
	<tbody>
	<% @admins.each do |adm| %>
		<tr>
			<td><%= adm.username %></td>
			<td><%= adm.email %></td>
			<td><%= adm.roles.map(&:code).join(", ") %></td>
			<td>
				<%= link_to image_tag('icons/edit.png'), edit_account_path(adm), :title => 'Edit' %>
				<%= link_to image_tag('icons/cross.png'), account_path(adm), :method => :delete, :confirm => "Are you sure to delete Account #{adm.username}?", :title => 'Delete' %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<div class="tablefooter clearfix">
	<%= will_paginate @admins %>
</div>
</article>